<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postsMapper">

    <resultMap id="postsResultMap" type="com.example.spring.posts.PostsVo">
        <result property="id" column="ID" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="username" column="USERNAME" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
        <result property="fileName" column="FILE_NAME" />
        <result property="originalFileName" column="ORIGINAL_FILE_NAME" />
    </resultMap>

    <!-- 게시글 등록 -->
    <insert id="create" parameterType="com.example.spring.posts.PostsVo" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO POSTS (
            TITLE, 
            CONTENT, 
            CREATED_BY,
            FILE_NAME,
            ORIGINAL_FILE_NAME
        ) VALUES (
            #{title}, 
            #{content}, 
            #{createdBy},
            #{fileName},
            #{originalFileName}
        )
        ]]>
    </insert>

    <!-- 게시글 목록 -->
    <select id="list" resultMap="postsResultMap">
        <![CDATA[
        SELECT
            A.ID,
            A.TITLE,
            A.CONTENT,
            A.CREATED_BY,
            A.CREATED_AT,
            A.UPDATED_AT,
            A.FILE_NAME,
            A.ORIGINAL_FILE_NAME,
            B.USERNAME
        FROM
            POSTS A, USERS B
        WHERE A.CREATED_BY = B.USER_ID
        ]]>
        <if test="searchType != null and searchKeyword != null">
            <choose>
                <when test="searchType == 'title'">
                    <![CDATA[
                    AND A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'content'">
                    <![CDATA[
                    AND A.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'username'">
                    <![CDATA[
                    AND B.USERNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'all'">
                    <![CDATA[
                    AND (
                        A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR A.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR B.USERNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                    ]]>
                </when>
            </choose>
        </if>
        <![CDATA[
        ORDER BY A.ID DESC
        LIMIT #{offset}, #{pageSize}
        ]]>
    </select>

    <!-- 게시글 보기 -->
    <select id="read" resultMap="postsResultMap">
        <![CDATA[
        SELECT
            A.ID,
            A.TITLE,
            A.CONTENT,
            A.CREATED_BY,
            A.CREATED_AT,
            A.UPDATED_AT,
            A.FILE_NAME,
            A.ORIGINAL_FILE_NAME,
            B.USERNAME 
        FROM
            POSTS A
        LEFT JOIN USERS B ON A.CREATED_BY = B.USER_ID
        WHERE
            A.ID = #{id}
        ]]>
    </select>

    <!-- 게시글 수정 -->
    <update id="update">
        <![CDATA[
        UPDATE
            POSTS
        SET
            TITLE = #{title},
            CONTENT = #{content},
            FILE_NAME = #{fileName},
            ORIGINAL_FILE_NAME = #{originalFileName}
        WHERE
            ID = #{id}
        ]]>
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        <![CDATA[
        DELETE FROM
            POSTS
        WHERE
            ID = #{id}
        ]]>
    </delete>

    <!-- 전체 게시글 수 조회 -->
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) FROM POSTS A, USERS B WHERE A.CREATED_BY = B.USER_ID
        ]]>
        <if test="searchType != null and searchKeyword != null">
            <choose>
                <when test="searchType == 'title'">
                    <![CDATA[
                    AND A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'content'">
                    <![CDATA[
                    AND A.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'username'">
                    <![CDATA[
                    AND B.USERNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'all'">
                    <![CDATA[
                    AND (
                        A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR A.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR B.USERNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                    ]]>
                </when>
            </choose>
        </if>
    </select>

</mapper>
